{
  "$schema": "./schemas/prettierrc.schema.json",
  "tabWidth": 2,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "semi": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "plugins": ["@prettier/plugin-xml"],
  "overrides": [
    {
      "files": ["*.svg", "*.xml"],
      "options": {
        "parser": "xml"
      }
    }
  ]
}
